<section class="showcontent">
<h1>Toy Type Details</h1>

<%= form_for(@toytype) do |f| %>
  <% if @toytype.errors.any? %>
    <div class="alert alert-danger">
      <h3><%= pluralize(@toytype.errors.count, "error") %> prohibited this toytype from being saved:</h3>

      <ul>
      <% @toytype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :toytype, :placeholder =>"Toy Type" %>
  </div>
  <div class="field">
    <%= f.text_field :description, :placeholder => "Description" %>
  </div>

  <div class="field">
    <%= f.submit "Save" , :class => "button" %>
  </div>

<br>

  <div class="field">
   <%= link_to 'Back', toytypes_path, :class => "button" %>
  </div>

<%end%>

</section>