<%= form_for(@toy) do |f| %>
  <% if @toy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@toy.errors.count, "error") %> prohibited this toy from being saved:</h2>

      <ul>
      <% @toy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <section class="homehero">

  <div class="field">
    <%= f.text_field :name, :placeholder => "Name" %>
  </div>
  <div class="field">
    <%= f.text_area :description, :placeholder => "Description"%>
  </div>

  <div class="field">
    <%= f.text_area :animal , :placeholder => "Animal" %>
  </div>

<button class="button">
  <%= f.file_field :photo %>
</button>

</section>

<button class="button">
    <%= f.submit %>
</button>

<% end %>
