<%= form_for(@toy) do |f| %>
  <% if @toy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@toy.errors.count, "error") %> prohibited this toy from being saved:</h2>

      <ul>
      <% @toy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<section class="homehero">

  <h1> 
  Toy Details 
  </h1>


  <div class="field">
    <%= f.label "Name:" %>
    <%= f.text_field :name, :placeholder => "Name" %>
  </div>
  <div class="field">
    <%= f.label "Description:" %>
    <%= f.text_area :description, :placeholder => "Description"%>
  </div>

  <div class="field">
    <%= f.label "Animal:" %>
    <%= f.text_area :animal , :placeholder => "Animal" %>
  </div>

  <div class="field">
  <%= f.label "Photo:" %>
  <%= f.file_field :photo %>
  </div>

  <div class="field">
  <%= f.check_box :Portrait %>
  <%= f.label "is image portrait?" %>
  </div>


  <div class="field">
  <%= f.submit %>
  </div>

</section>


<% end %>
