<section class="homehero">

<%= form_for(@toy) do |f| %>
  <% if @toy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@toy.errors.count, "error") %> prohibited this toy from being saved:</h2>

      <ul>
      <% @toy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





      <h1>
      Enter Toy Details 
      </h1>


 
    <%= f.text_field :name, :placeholder => "Name" %>

  
    <%= f.text_area :description, :placeholder => "Description" , :class =>"textarea"%>


    <%= f.text_area :animal , :placeholder => "Animal" %>


  <div class="field">
  <%= f.file_field :photo %>
  </div>

  <div class="checkbox">
  <%= f.check_box :Portrait %>
  <%= f.label "is image portrait?" %>
  </div>


  <div class="field">
  <%= f.submit "Save", :class => "button"%>
  </div>



</section>


<% end %>
