<section class="showcontent">

<%= form_for(@toy) do |f| %>
  <% if @toy.errors.any? %>
    <div class="alert alert-danger">
      <h3><%= pluralize(@toy.errors.count, "error") %> prohibited this toy from being saved:</h3>

      <ul>
      <% @toy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





  <h1>Enter Toy Details </h1>


<div class="field">
  <%= f.text_field :name, :placeholder => "Name" %>
</div>
  
  <%= f.text_area :description, :placeholder => "Description" , :class =>"textarea"%>

<div class="field">
  <%= f.text_area :animal , :placeholder => "Animal" %>
</div>


  <div class="field">
  <%= f.file_field :photo %>
  </div>

  <div class="checkbox">
  <%= f.check_box :Portrait %>
  <%= f.label "is image portrait?" %>
  </div>

  <div class="field">
  <%= f.collection_select(:toytype_id, Toytype.all, :id , :toytype, prompt: true)  %>
  </div>

  <div class="field">
  <%= f.submit "Save", :class => "button"%>
  </div>


<% end %>

</section>


