<% if notice %>
<div class="alert alert-success" role="alert"><%= notice %></div>
<%end%>


  <div class="showcontent">

      <div class="img-responsive">
     	  <div class='<%= "landscape" if @toy.notportrait? %>'>
  	     <%= image_tag @toy.photo.url%> 
        </div>
      </div>



    <br>
    <h1><%= @toy.name %> </h1>
    <p><strong>Description: </strong><%= @toy.description %></p>
    <p><strong>Animal: </strong><%= @toy.animal %></p>
    <p><strong>Portrait: </strong><%= @toy.Portrait %></p>
    <p><strong>Toy type: </strong> <%= @toy.toytype_id %></p>



    <br>
    <%= link_to 'Back', toys_path, :class => "button" %>
    <%= link_to 'Edit', edit_toy_path(@toy), :class => "button"%> 
    <%= link_to 'Delete', @toy, :class => "button", method: :delete, data: { confirm: 'Are you sure?' } %> 
    <br>

</div>


















