<p id="notice"><%= notice %></p>

<section class="homehero">

<h1> 
	Toy Details 
</h1>


<div class="box">
   <div class="innerbox">
	<%= image_tag @toy.photo.url%> 
</div>
</div>

<p>
  <strong>Name:</strong>
  <%= @toy.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @toy.description %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @toy.animal %>
</p>







<button class="button"> <%= link_to 'Back', toys_path %></button>



<button class="button"><%= link_to 'Edit', edit_toy_path(@toy)%> </button>

<button class="button"> <%= link_to 'Delete', @toy, method: :delete, data: { confirm: 'Are you sure?' } %>  </button>



</section>









